::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.calendar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
  border: none;
}

.calendar ul li{
  list-style-type: none;
}

.month, .cars {
  position: absolute;
  text-align: center;
  background-color: brown;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.month .ul {
  padding: 0;
  margin: 0;
}

.month .prev {
  position: absolute;
  left: 10px;
  float: left;
}

.month .next {
  position: absolute;
  right: 10px;
  float: right;
}

.month .date {
  position: absolute;
  width: 100%;
  left: 0;
  top: 5px;
  text-align: center;
}

.month .year {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  text-align: center;
}

.calendarDays {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 250px;
}

.calendarDays .weekdays {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
  text-align: center;
}

.weekdays li {
  display: inline-block;
  text-align: center;
  width: 13.5%;

}

.calendarDays .days {
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50px;
}

.days li {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 13.5%;
}

.days li:hover, .carList li:hover{
  color: brown;
}

.active {
  background-color: brown;
}

.sunday {
  color: brown;
}

.carRent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0;
  border: none;
}

.cars p {
  top: 15px;
}
.carList {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 250px;
}

.carList ul {
  height: 250px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.carList ul li {
  list-style-type: none;
}

.carList .chooseCar {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 20px;
  text-align: center;
}

.carList .chooseCar li {
  padding: 10px 0;
}

#close-box1, #close-box2 {
  position: absolute;
  color: #FFF;
  background-color: #222;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  height: 150px;
  left: 0;
  top: 250px;
}

#close-box3 {
  position: absolute;
  color: #FFF;
  background-color: #222;
  text-align: center;
  padding: 50px 0;
  width: 100%;
  height: 150px;
  left: 0;
  top: 270px;
}

#close-box1:hover, #close-box2:hover, #close-box3:hover {
  color: brown;
}
